.mainBody {
  display: flex;
}

/* LEFT CONTENT */
.leftDiv {
  background-image: url("../public/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100vh;
  width: 40%;
}

.logoContent {
  display: flex;
  height: 40%;
  width: 40%;
  justify-content: center;
  color: aliceblue;
  object-fit: contain;
}

.rightDiv {
  display: flex;
  flex-direction: column;

  background-color: rgb(32, 33, 41);
  height: 100vh;
  width: 60%;
  padding-left: 30px;
  padding-top: 20px;
}

.logoImageRight {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.txtContent {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: white;
}

.txt1 {
  font-size: 400%;
}

.txt2 {
  font-size: 150%;
  margin: 0;
}

.txt2 {
  font-size: 150%;
  margin: 0;
}
