.logoModal {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.modalContent {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.modalTxt {
    margin-top: 0;
}

.inputs {
    height: 40px;
    width: 200px;
    background-color: rgb(32, 33, 41);
    border: 1px solid white;
    border-radius: 2px;
}