.mainDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/*LEFT*/

.leftDiv {
  height: 100%;
  width: 25%;
  background-color: rgb(32, 33, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  color: white;
}

.logoImageRight {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.userContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userNames {
  display: flex;
  gap: 15px;
}

.userNameTxt {
  display: flex;
  flex-direction: column;
}

.username {
  margin: 0px 0px 20px 0px;
}

.firstname {
  margin: 0px 0px 0px 0px;
}

.logoUser {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

/*CENTER*/

.CenterDiv {
  height: 100%;
  width: 40%;
  background-color: rgb(32, 33, 41);
  border: 0.5px solid rgb(126, 126, 126);
  border: 0.5px solid rgb(126, 126, 126);
  display: flex;
  flex-direction: column;
}

.CenterTopDiv {
  color: white;
  height: 25%;
  width: 100%;
  background-color: rgb(32, 33, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.homeTxt {
  align-self: flex-start;
  margin: 0;
  font-size: 150%;
}

.tweetInput {
  height: 60px;
  width: 80%;
  background-color: rgb(32, 33, 41);

  border-radius: 2px;
  color: white;
}

.tweetContent {
  align-self: flex-end;
}

.CenterBotDiv {
  display: block;
  background-color: rgb(32, 33, 41);

  flex-direction: column;
  overflow-y: scroll;
}

.CenterBotDiv::-webkit-scrollbar {
  display: none;
}
.tweetInput::-webkit-scrollbar {
  display: none;
}

/*RIGHT*/

.rightDiv {
  height: 100%;
  width: 35%;
  background-color: rgb(32, 33, 41);
}

.brice {
  height: 400px;
  width: 300px;
  background-color: aqua;
  object-fit: contain;
}
